@font-face {
  font-family: 'montserrat-medium';
  src: url("../fonts/montserrat-medium/montserrat-medium.woff") format("woff");
  src: url("../fonts/montserrat-medium/montserrat-medium.ttf") format("ttf"); }
@font-face {
  font-family: 'devonshire';
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2"); }
@font-face {
  font-family: 'segoe';
  src: url("../fonts/segoe/segoe.woff") format("woff");
  src: url("../fonts/segoe/segoe.woff2") format("woff2"); }
@font-face {
  font-family: 'croissant';
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format("woff");
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format("woff2"); }
@font-face {
  font-family: 'charissil';
  src: url("../fonts/charissil/Fonts/charissil-b-webfont.woff") format("woff");
  src: url("../fonts/charissil/Fonts/charissil-b-webfont.woff2") format("woff2"); }
@font-face {
  font-family: 'dancing script';
  src: url("../fonts/dancing-script/dancing-script-v14-latin-regular.woff") format("woff");
  src: url("../fonts/dancing-script/dancing-script-v14-latin-regular.woff2") format("woff2"); }
@font-face {
  font-family: 'kaushan';
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff") format("woff");
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff2") format("woff2"); }
body {
  height: 100%;
  margin: 0; }

header, footer {
  background-color: #579c87;
  font-family: Montserrat, montserrat-medium, sans-serif;
  color: #fdcb46; }

header {
  width: 100%;
  height: 150px;
  border-bottom: 0.5px solid #a1c181; }
  header h1 {
    font-family: Montserrat, montserrat-medium, sans-serif;
    font-size: 4rem;
    letter-spacing: -3.5px;
    text-align: center;
    padding: 2% 0 2% 0;
    margin: 0; }
    header h1 a {
      text-decoration: none;
      color: #fdcb46; }

.menus {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5%;
  margin: auto; }
  .menus .menu-prev {
    width: 300px;
    height: 420px;
    position: relative;
    text-align: center;
    margin-bottom: 10%;
    margin-right: 8%;
    margin-left: 8%;
    box-shadow: 0px 0px 8px 6px #e8e8e8; }
    .menus .menu-prev a {
      text-decoration: none; }
      .menus .menu-prev a .menu-content {
        position: absolute;
        width: 300px;
        height: 420px;
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: linear; }
        .menus .menu-prev a .menu-content:hover {
          transform: scale(1.1);
          opacity: 0.5; }

.menu-prev--lanoteenchantee {
  background-color: #fcdfdb; }
  .menu-prev--lanoteenchantee img {
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: 120px;
    margin-left: -20px; }
  .menu-prev--lanoteenchantee h2 {
    font-family: devonshire;
    font-weight: 100;
    font-size: 2rem;
    color: #3c1218;
    margin-top: 57%; }
  .menu-prev--lanoteenchantee h3 {
    font-family: segoe;
    font-weight: lighter;
    font-size: 2rem;
    color: #3c1218;
    margin-top: -2%; }

.menu-prev--lechicalafrancaise {
  background-color: #fff5fe; }
  .menu-prev--lechicalafrancaise h2 {
    font-family: croissant;
    font-weight: lighter;
    font-size: 1.2rem;
    color: #d8852e;
    background: linear-gradient(160deg, #d8852e 25%, #905bfd 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 57%; }
  .menu-prev--lechicalafrancaise h3 {
    font-family: charissil;
    font-size: 2rem;
    color: #d8852e;
    margin-top: 25px; }

.menu-prev--ledelicedespapilles {
  background-color: #f9f9f9; }
  .menu-prev--ledelicedespapilles h2 {
    font-family: 'dancing script';
    font-size: 1.7rem;
    color: #0431df;
    background: linear-gradient(160deg, #0431df 25%, #0887fb 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 57%; }
  .menu-prev--ledelicedespapilles h3 {
    font-family: segoe;
    font-size: 2rem;
    color: #0887fb; }

.menu-prev--lapalettedugout {
  background-color: #fdfffd; }
  .menu-prev--lapalettedugout h2 {
    font-family: kaushan;
    font-size: 1.7rem;
    color: #3d9339;
    background: linear-gradient(160deg, #3d9339 25%, #acf075 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 57%; }
  .menu-prev--lapalettedugout h3 {
    font-family: segoe;
    font-size: 2rem;
    color: #72bf56; }

.prochainement {
  text-align: center;
  margin-bottom: 8%;
  margin-top: -4%; }
  .prochainement button {
    background-color: #579c87;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: montserrat, montserrat-medium, sans-serif;
    color: #fdcb46;
    padding: 0.7% 3% 0.7% 3%; }
    .prochainement button .point1 {
      animation: opacitypoint 1300ms ease infinite;
      animation-delay: 300ms; }
    .prochainement button .point2 {
      animation: opacitypoint 1300ms ease infinite;
      animation-delay: 400ms; }
    .prochainement button .point3 {
      animation: opacitypoint 1300ms ease infinite;
      animation-delay: 500ms; }

@keyframes opacitypoint {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
footer {
  width: 100%;
  height: 70px;
  bottom: 0;
  position: fixed;
  border-top: 0.5px solid #a1c181;
  display: flex;
  justify-content: space-between; }
  footer a {
    margin-left: 20px;
    margin-right: 20px;
    margin: 1.8%;
    text-decoration: none;
    color: #fdcb46;
    font-size: 1.2rem;
    animation: wiggle 1500ms ease-in-out infinite; }
    footer a:hover {
      animation: none; }

@keyframes wiggle {
  0% {
    transform: rotate(7deg); }
  10% {
    transform: rotate(-6deg); }
  20% {
    transform: rotate(5deg); }
  30% {
    transform: rotate(-4deg); }
  40% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(-2deg); }
  60% {
    transform: rotate(1deg); }
  70% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@media (min-width: 1110px) and (max-width: 1250px) {
  .menus {
    width: 100%; }

  .prochainement {
    margin-bottom: 10%;
    margin-top: -5%; } }
@media (max-width: 1109px) {
  header {
    height: 120px; }

  .menus {
    width: 100%; }

  .prochainement {
    margin-bottom: 12%;
    margin-top: -2%; }

  .menu-prev--lanoteenchantee, .menu-prev--lechicalafrancaise, .menu-prev--ledelicedespapilles, .menu-prev--lapalettedugout {
    padding: 1%; } }
@media (max-width: 750px) {
  header {
    height: 100px; }

  .menus {
    width: 100%; }

  .prochainement {
    margin-bottom: 25%;
    margin-top: 2%; }

  .menu-prev--lanoteenchantee, .menu-prev--lechicalafrancaise, .menu-prev--ledelicedespapilles, .menu-prev--lapalettedugout {
    margin: 7% 0 7% 0; } }
@media (max-width: 350px) {
  .menus {
    width: 90%; }

  .prochainement {
    margin-bottom: 30%;
    margin-top: 4%; }

  .menu-prev--lanoteenchantee, .menu-prev--lechicalafrancaise, .menu-prev--ledelicedespapilles, .menu-prev--lapalettedugout {
    margin: 7% 0 7% 0; } }

/*# sourceMappingURL=stylegenerate.css.map */
